<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Борейч-мультистрим</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
<div id="app">
    <div class="panel">
        <input class="panel__input" type="text" v-model="url">
        <button class="panel__add" type="button" @click.preven="add">+</button>
    </div>
    <div class="streams">
        <div class="streams__item" v-for="(stream, index) in streams">
            <div class="stream">
                <iframe class="stream__frame" :src="stream.url" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                <button class="stream__remove" type="button" @click.prevent="remove(index)">x</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="index.js"></script>
</html>
