body {
    padding: 0;
    margin: 0;
    position: relative;
}

.panel {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.streams {
    display: flex;
    flex-wrap: wrap;
}
.streams__item {
    flex: 0 0 50%;
}

.streams__item--3 {
    flex-basis: 100%;
}
.streams__item--2 {
    flex-basis: 50%;
}
.streams__item--3 {
    flex-basis: 33.33%;
}
.streams__item--4 {
    flex-basis: 25%;
}
.streams__item--5 {
    flex-basis: 20%;
}
.stream {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

}

.stream__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.stream__remove {
    position: absolute;
    top: 0;
    right: 0;
}
